*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
.card-registration .select-arrow {
    top: 13px;
}

.show-border{
    border: 1px solid green;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

  
/* Stil für das Dropdown-Menü */
.nav-item {
    position: relative;
  }
  
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff; /* Hintergrundfarbe für das Dropdown */
    border: 1px solid #ccc;
    padding: 10px;
    flex-direction: row; /* Elemente in einer Zeile anordnen */
}
  
.dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.dropdown-menu li:hover {
    background-color: #f0f0f0;
}
  
  /* Anzeigen des Dropdown-Menüs beim Klicken auf den Link */
.nav-item:focus-within .dropdown-menu {
    display: block;
}
  
  /* Stil für den Dropdown-Link */
.nav-link {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 15px;
}
  /* Stil für die Checkboxen */
.dropdown-menu input[type="checkbox"] {
    margin-right: 8px;
}
.hidden {
    display: none;
}
.iconButton {
  
    border: none;
    background: transparent;
    font-size: 24px;
    display: flex;
    align-items: center;
    cursor: pointer; /* Zeige einen Zeiger-Cursor beim Hover an */
}
.filter{
    background: #f0f0f0;
}


.filterintro{
  align-items: center;
  padding: 8px 12px;;
}
.search{
    margin-bottom: auto;
    height: auto;
    background-color: #fff;

}

.search-input{
    color: white;
    border:0;
    outline: 0;
    background: none;
    width: 0;
    margin-top:5px;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;

}

.search .search-input{
    padding: 0 10px;
    width: 300px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear;
}

.search-icon{
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: trans

}
a:link{
    text-decoration: none;
}




.product:hover {
    box-shadow: 100px 0 100px rgba(0, 0, 0, 0.3); /* Hinzufügen eines Schattens beim Hovern */
}


.col {
    width: 100%;
    max-width: 300px;
}

.product {
    margin-bottom: 200px;
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(197, 194, 194); /* Erhöhte Border-Breite auf 3px */
    transition: box-shadow 0.3s;
    border-radius: 10px;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product img {
    max-width: 100%;
    height: auto;
}

h4 {
    font-size: 18px;
    margin: 10px 0;
}

h5 {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: #888;
}

.price {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #536bf6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart:hover {
    background-color: #536bf6;
}

.colors ul{list-style: none;display: flex;padding-left: 0px}
.colors ul li{height: 20px;width: 20px;display: flex;border-radius: 50%;margin-right: 10px;cursor: pointer}


#marker-black {
    background-color: #000000;
}
#marker-blue{
    background-color: rgb(15, 15, 137);
}

#marker-grey{
    background-color: grey;
}
#marker-light-blue{
    background-color: lightblue;
}
#marker-dark-green{
    background-color: darkgreen;
}
#marker-dark-yellow{
    background-color: darkgoldenrod;
}
#marker-dark-magenta{
    background-color:darkmagenta;
}
#marker-light-green{
    background-color:rgb(146, 185, 146);
}

.price-and-button {
    display: flex;
    align-items: center;
}

.price {
    margin-right: 10px; /* Fügen Sie Platz zwischen Preis und Button hinzu, falls gewünscht */
}

.button-container {
    display: inline-block; /* Stellen Sie sicher, dass der Button inline angezeigt wird */
}






.search-option{position: 
    absolute;background-color: #000;
    overflow: hidden;
    align-items: center;
    color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;
    left: 30%;
    bottom: -250px;
    transition: all 0.5s;
    cursor: pointer}
    
.search-option .first-search{
        position: absolute;
        top: 20px;
        left: 90px;
        font-size: 20px;
        opacity: 1000}
        
.search-option .inputs{
    opacity: 0;transition: all 0.5s ease;transition-delay: 0.5s;position: relative}
    .search-option .inputs input{
        position: absolute;
        top: 200px;
        left: 30px;
        padding-left: 20px;
        background-color: transparent;
        width: 300px;
        border: none;
        color: #fff;
        border-bottom: 1px solid #eee;
        transition: all 0.5s;z-index: 10}
.search-option .inputs input:focus{
    box-shadow: 
    none;outline: 
    none;z-index: 10}
    
.search-option:hover{border-radius: 0px;
    width: 100%;
    left: 0px}
    
.search-option:hover .inputs{
    opacity: 1}
    
.search-option:hover .first-search{
    left: 27px;
    top: 25px;
    font-size: 15px}
    
.search-option:hover .inputs input{
    top: 20px}
    
.search-option .share{
    position: absolute;
    right: 20px;
    top: 22px}
    
.buttons .btn{
    height: 50px;
    width: 150px;
    border-radius: 0px !important}


/* Container für die Buttons */
.sizes ul {
    display: flex;
    list-style: none;
    padding: 0;
}

/* Stile für die Buttons */
.sizes ul li {
    margin-right: 10px; /* Abstand zwischen den Buttons */
}

/* Allgemeine Stile für die Buttons */
.sizes ul li Button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Stile für den Hover-Effekt */
.sizes ul li Button:hover {
    background-color: #297dbf;
}

/* Stile für den aktiven Button (ausgewählte Größe) */
.sizes ul li.active Button {
    background-color: #e74c3c;
}

/* Stile für den Text innerhalb der Buttons */
.sizes ul li Button {
    text-transform: uppercase;
    font-weight: bold;
}

.detail{
    background: rgb(240, 240, 240);
    margin-bottom: 100px;
}
.detail-col{
    display: inline-block;
}
.shipping{
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding:10px
    
}

.OrderButton {
    background-color: #0073e6; /* Hintergrundfarbe */
    color: #fff; /* Textfarbe */
    font-size: 16px; /* Schriftgröße */
    border: none; /* Kein Rahmen */
    padding: 10px 20px; /* Innenabstand */
    border-radius: 5px; /* Abrundung der Ecken */
    cursor: pointer; /* Zeiger als Cursor */
    transition: background-color 0.3s; /* Sanfter Farbübergang beim Hover */
}

.OrderButton:hover {
    background-color: #0055a4; /* Farbwechsel beim Hover */
}

/* Optional: Textschatten für den Button */
.OrderButton {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.cart i{
    color: #000;
    width: 100%;
    
}









/* Testimonials */

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.testimonials a{
    text-decoration: none;
}


.testimonial-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px ;
}

.testimonial-heading span{
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.testimonial-box{
    width: 500px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    background: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #000000;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}
.reviews{
    color: #000000;
}
.box-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Die Sternicons oben ausrichten */
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;

}